<form>
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First" required>
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last" required>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="dob">Date of Birth</label>
    <input type="date" class="form-control" id="dob">
  </div>
  <div class="form-group col-md-12">
    <label for="pass">Password</label>
    <input type="password" class="form-control" id="pass" required minlength="4" required>
  </div>
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="youremail@website.com">
    </div>
  <button target= "_self" type="submit" class="btn btn-primary" routerLink="../login">Register</button>
</form>
